
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background: gray;
    color: white;

}

.options {
    flex: 1 1 auto;
}

a[href="#"] {
    text-decoration: underline;
}

@media all and (min-width:800px) {
    body {
        flex-direction: row;

    }
}