@font-face {
    font-family: 'airstreamregular';
    font-style: normal;
    font-weight: normal;
    src: url("fonts/Airstream-webfont.eot");
    src: url('fonts/Airstream-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/Airstream-webfont.woff') format('woff'),
    url('fonts/Airstream-webfont.ttf') format('truetype'),
    url('fonts/Airstream-webfont.svg#lakesore') format('svg');
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background: gray;
    color: white;
    font-family: airstreamregular;

}

.options {
    flex: 1 1 auto;
}

a[href="#"] {
    text-decoration: underline;
}

@media all and (min-width:800px) {
    body {
        flex-direction: row;

    }
}